:root {
    --bg-color: #000;
    --second-color: #fff;
    --body-height: 100vh;
    --border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}
  
body * {
    box-sizing: border-box;
}

.slider-container {
    background-color: var(--bg-color);
    height: var(--body-height);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slide {
    border-radius: var(--border-radius);
}

/* adicionado pelo js */
/* .arrow-nav .arrow.next {
    background-image: url(/images/arrow-next.png);
}
.arrow-nav .arrow.prev {
    background-image: url(/images/arrow-prev.png);
} */

.controls .control {
    background-color: var(--second-color);
}

.custom-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.custom-controls .custom-control {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    transition: var(--transition);
    opacity: .5;
}

.custom-controls .custom-control:last-child {
    margin-right: 0;
}

.custom-controls .custom-control:hover,
.custom-controls .custom-control.active {
    transform: scale(1.2);
    opacity: 1;
}

.custom-controls .custom-control img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 480px) {
    .custom-controls {
        margin-bottom: 20px;
    }
    .custom-controls .custom-control {
        width: 40px;
        height: 40px;
    }
}