body {
    margin: 0;
    padding: 0;
}
  
body * {
    box-sizing: border-box;
}
  
.wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
  
.slider-content {
    display: flex;
    align-items: center;
}

.slider-content:hover {
    will-change: transform;
}
  
.slide {
    width: 80vw;
    flex-shrink: 0;
    max-width: 800px;
    height: 500px; 
    opacity: .5; 
    transform: scale(.8);
    transition: .5s;
    /* optional */
    border-radius: 10px;
    overflow: hidden;
}
.slide.active {
    opacity: 1;
    transform: scale(1);
}
  
.slide:last-child {
    margin-right: 0;
}
  
.slide img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.arrow-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.arrow-nav .arrow {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
/* adicionado pelo js */
/* .arrow-nav .arrow.next {
    background-image: url(/images/arrow-next.png);
}
.arrow-nav .arrow.prev {
    background-image: url(/images/arrow-prev.png);
} */
.arrow-nav .arrow:hover {
    opacity: .7;
}

.arrow-nav .arrow.disabled {
   opacity: .1;
}