:root {
    --slide-height: 500px;
    --slide-width: 80vw;
    --slide-max-width: 800px;
    --custom-controls-top: calc(var(--slide-height) / 2 - 100px);
    --transition: .3s;
}

.slider-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider {
    position: relative;
    max-width: 100%;
}
  
.slider-content {
    display: flex;
    align-items: center;
}

.slider-content:hover {
    will-change: transform;
}
  
.slide {
    width: var(--slide-width);
    flex-shrink: 0;
    max-width: var(--slide-max-width);
    height: var(--slide-height); 
    opacity: .5; 
    transform: scale(.8);
    transition: .5s;
    overflow: hidden;
}
.slide.active {
    opacity: 1;
    transform: scale(1);
}
  
.slide img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.arrow-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.arrow-nav .arrow {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    font-size: 40px;
    color: var(--second-color);
}
/* adicionado pelo js */
/* .arrow-nav .arrow.next {
    background-image: url(/images/arrow-next.png);
}
.arrow-nav .arrow.prev {
    background-image: url(/images/arrow-prev.png);
} */
.arrow-nav .arrow:hover {
    opacity: .7;
}

.arrow-nav .arrow.disabled {
   opacity: .1;
}

.controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.controls .control {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: var(--transition);
}

.controls .control.active,
.controls .control:hover {
    opacity: .1;
}

@media (max-width: 768px) {
    .arrow-nav .arrow {
        width: 30px;
        height: 30px;
        background-size: 25px;
        font-size: 20px;
    }
    .controls .control {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 480px) {
    :root {
        --slide-height: 30vh;
    }
    .arrow-nav .arrow {
        width: 25px;
        height: 25px;
        background-size: 20px;
        font-size: 16px;
    }
    .controls .control {
        width: 6px;
        height: 6px;
    }
}

@media (max-height: 580px) {
    :root {
        --slide-height: 70vh;
    }
}